* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #5894DA;
    height: 10vh;
}
header {
    background-color:#B2D5FF ;  
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f1 {
    background-color:#F4CE8D ; 
    height: 40vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.f2 {
    background-color: #C8C5FA; 
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
}
.f3 {
    background-color: #EF999C; 
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.sign {
    background-color: #d6e8fe;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content {
    background-color:#E6EAED ;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    
    
    .f1 {
        height: 30vh;
        width: 50%;
        order: 2;
    }
    .f2 {
        height: 30vh;
        width: 50%;
        order: 3;
    }
    .f3 { 
        height: 30vh;
        width: 50%;
        order: 2;
    }
    .sign {
        height: 30vh;
        width: 50%;
    
    }
    .roll {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {


    .f1 {
        width: 100%;
        order: 2;
    }
    .f2 {
        width: 100%;
        order: 3;
    }
    .f3 { 
        width: 100%;
        order: 2;
    }
    .sign {
        width: 100%;
    
    }
    .roll {
        display: flex;
        flex-direction: column-reverse;
    }

}